@import "https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">;

body {
   
  }


h1 {

    font-size: 85px;
    text-align: center;
    color: white;
    background-color: rgb(55, 55, 116);
}

h2 {
    font-size: 3px;
    text-align: left;
    color: rgb(172, 171, 171); 
}

.columns{
    text-align: left;
    color: rgb(172, 171, 171);  
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    font-style: italic;
